<?php
/** @var Magebit_Donations_Helper_Data $helper */
$helper = $this->helper('magebit_donations');
if (!$helper->isEnabled()) {
    return;
}
$donationPrice = $helper->getDonationPrice();
?>
<dd id="d-tamba" class="last clearfix">
    <p>
        <?php echo $this->__($helper->getInfoText()); ?>
    </p>

    <div class="input-box">
        <label>
            <input class="match-donation" type="checkbox" name="donate" value="1" onchange="opConfig.reloadPrice();" price="<?php echo $donationPrice; ?>">
            <?php echo $this->__($helper->getDonateLabel()); ?>
            <span class="price-notice"> +
                <span class="price">
                    <?php echo Mage::helper('core')->currency($donationPrice, true, false); ?>
                </span>
            </span>
        </label>
        <br/>
        <label class="match-donation-gift-aid">
            <input type="checkbox" name="gift_aid" value="1">
            <?php echo $this->__($helper->getGiftAidLabel()); ?>
        </label>
    </div>
</dd>